@charset "utf-8";
/* CSS Document */
body{
	margin:0px;padding:0px;
	background-color:#EFEFEF;
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
	}

#head-section{background-color:#333;min-height:70px;color:#fff;}
#logo-holder{float:left;width:300px;}
.navigation{float:right;margin-top:-20px;}
.navigation ul{margin:0px;padding:0px;}
.navigation ul li{display:inline;list-style:none;}
.navigation ul li a{background-color:#09F;width:auto;min-width:80px;padding:6px;margin-left:4px;border:1px solid #0CF;color:#fff;text-shadow:1px 1px 1px black;}
#main-content{padding:10px;min-height:500px;}
#footer{background-color:#000;color:#fff;padding:14px;border-top:4px solid #09C}
.tini-image{width:60px;height:auto;padding:3px; border:1px solid #ccc;background-color:#fff;}
.profile-image{width:120px;height:120px;padding:6px;border:2px solid #ccc;background-color:#fff;border-radius:100px;-webkit-border-radius:100px;margin-left:50px;}
.error-msg{color:#f00;font-size:14px;}
.panel-heading{font-size:18px;}